/* General reset and basic styles */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #e7e4e0;
  color: black;
  text-align: center;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Header styles */
.header {
  background-color: #5cf049;
  padding: 10px;
  text-align: right;
}

.header-buttons button {
  background-color: #1b002b;
  color: #3a065c;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

/* Footer styles */
.footer {
  padding: 20px 0;
  background-color: #f8f9fa;
  margin-top: auto;
}

.footer-icon {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.footer a {
  color: gray;
  transition: color 0.2s;
}

.footer a:hover {
  color: gray;
}

.footer span {
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

/* Card and form styles */
.custom-card {
  background-color: #0096d2;
  border: none;
  margin: 20px;
  padding: 10px;
}

.custom-card img {
  max-width: 100%;
  height: auto;
}

.card {
  border-radius: 15px;
  overflow: hidden;
}

.card-header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.btn-primary {
   
  padding: 10px 20px; 
  background-color: #5cf049;
  border: none;
  position: relative;
}

.btn-primary:hover {
  background-color: #5cf049;
}

.form-control {
  border-radius: 10px;
}

textarea.form-control {
  resize: none;
}

/* Specific element styles */
.titulo {
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-around;
}

.image-text-container {
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color: #5cf049;
}

.image-text-container img {
  width: 300px;
  height: auto;
  border-radius: 15px;
}

.image-text-container p {
  margin: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.logo-container img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.logo-container p {
  font-size: 14px;
}

.remember-me {
  margin-bottom: 10px;
}

.remember-me label {
  font-size: 14px;
}

input[type="email"], input[type="password"] {
  background-color: #59f4ff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: black;
}

.crear-cuenta-form {
  background-color: #59f4ff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.superpuesto {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.superpuesto .logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.superpuesto .logo-container img {
  width: 100px;
  height: auto;
}

.superpuesto .logo-container p {
  font-size: 18px;
  margin-top: 10px;
}
