
{% extends "plantilla.html" %}
{% block body %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card shadow">
                    <div class="card-header text-center bg-success text-white">
                        <h2>Dietas Registradas</h2>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre de la dieta</th>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dieta in dietas %}
                                <tr>
                                    <td>{{dieta.0}}</td>
                                    <td>{{dieta.1}}</td>
                                    <td>{{dieta.2}}</td>
                                    <td>
                                        <a href="/editarD/{{dieta.0}}" class="btn btn-primary btn-sm">Editar</a>
                                        <a href="/eliminarD/{{dieta.0}}" onclick="return eliminar()" class="btn btn-danger btn-sm">Borrar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


 
    <script>
        function eliminar() {
            return confirm('¿Estás seguro de que deseas eliminar esta dieta?');
        }
    </script>

{% endblock %}