{% extends "plantilla.html" %}
{% block body %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow">
                <div class="card-header text-center bg-success text-white">
                    <h2>Ejercicios Registrados</h2>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead class="thead-light">
                <tr class="table-active">
                    <td>ID:</td>
                    <td>Nombre del ejercicio</td>
                    <td>Grupo Muscular</td>
                    <td>Tipo de Ejercicios</td>
                    <td>Acciones</td>
                </tr>
            </thead>
    



    <tbody>
            {% for ejercicio in ejercicios %}
            <tr>
            <td>{{ejercicio.0}}</td>
            <td>{{ejercicio.1}}</td>
            <td>{{ejercicio.2}}</td>
            <td>{{ejercicio.3}}</td>


            <td><a href="/editarE/{{ejercicio.0}} "  class="btn btn-primary"> Editar</a>
            <a href="/eliminarE/{{ejercicio.0}}" onclick="return eliminar()" class="btn btn-danger"> Borrar</a></td>

            {%endfor%}
        </tbody>
    </table>
</div>
</div>
</div>
</div>
</div>

    <script>
        function eliminar() {
            return confirm("¿Desea eliminar el ejercicio?");
        }
    </script>

 {% endblock %}