
{% extends "plantilla.html" %}
{% block body %}

<div class="container">
    <h1 class="text-center mt-4 mb-4 display-4 text-info">Editar usuario</h1>
    
        <form action="/ActualizarUsuario/{{usuario.0}}" method="post">
    
            <div class="mb-3">
                <label>Nombre:</label>
                <input type="text" name="txtnombre" value="{{usuario.1}}" class="form-control">
            </div>
    
            <div class="mb-3">
                <label>Apellido Paterno</label>
                <input type="text" name="txtapellido_paterno"  value="{{usuario.2}}" class="form-control">
        
            </div>
    
            <div class="mb-3">
                <label>Apellido Materno</label>
                <input type="text" name="txtapellido_materno" value="{{usuario.3}}" class="form-control">
            </div>

            <div class="mb-3">
                <label>Número de Telefono</label>
                <input type="text" name="txtnumero_telefono" value="{{usuario.4}}" class="form-control">
            </div>
    
            <div class="mb-3">
                <label>Email</label>
                <input type="text" name="txtemail" value="{{usuario.5}}" class="form-control">
        
            </div>
    
            <div class="mb-3">
                <label>Contraseña</label>
                <input type="password" name="txtcontrasena" value="{{usuario.6}}" class="form-control">
            </div>

            <div class="mb-3">
                <label>Rol</label>
                <select class="form-control" id="rol" name="txtrole" required>
                    <option value="" disabled selected>Seleccione un rol</option>
                    <option value="user">user</option>
                    <option value="admin">admin</option>
                </select>
            </div>

            <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-info mb-5" onclick="actualizar()">Editar Usuario</button>
            </div>


        </form>
    </div>

    <script>
        function actualizar() {
            return confirm("¿Desea guardar los cambios?");
        }
    </script>

{% endblock %}