<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuídate Divirtiéndote</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="my-4">CUÍDATE DIVIRTIÉNDOTE</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card custom-card">
                    <img src="{{ url_for('static', filename='IMG/cuerda.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Texto de la imagen 1.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card custom-card">
                    <img src="{{ url_for('static', filename='IMG/comidasana.avif') }}" class="card-img-top" alt="fisica">
                    <div class="card-body">
                        <p class="card-text">Texto de la imagen 2.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card custom-card">
                    <img src="{{ url_for('static', filename='IMG/original.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Texto de la imagen 3.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
