{% extends "plantillauser.html" %}
{% block body %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/objetivo.css') }}">
<body>


    <section id="goals" class="section bg-light">
        <div class="container">
            <h2 class="main-title">Objetivos</h2>
            <div class="shadowed-section">
                <p class="main-description">Metas personalizadas para mejorar la salud y el bienestar físico.</p>
                <div class="content-section">
                    <p><strong>Nombre:</strong> Pablo Ortiz</p>
                    <p><strong>Edad:</strong> 28 años</p>
                    <p><strong>Peso:</strong> 97 kg</p>
                    <p><strong>Tipo de Cuerpo:</strong> Ectomorfo</p>
                    <p><strong>Membresía:</strong> Premium</p>
                    <p><strong>Fecha de Expiración:</strong> 29-07-2025</p>
                    <p><strong>Objetivos:</strong></p>
                    <ul class="goals-list">
                        <li><strong>Objetivo Principal:</strong> Ganar 5 kg de masa muscular en 6 meses.</li>
                        <li><strong>Dieta:</strong> Mantener un plan de alimentación alto en proteínas con 6 comidas al día.</li>
                        <li><strong>Ejercicio:</strong> Rutina de levantamiento de pesas 5 días a la semana con sesiones de cardio moderado.</li>
                        <li><strong>Días de la Semana:</strong> Entrenamiento de lunes a viernes.</li>
                        <li><strong>Horas:</strong> Entrenamientos de 1.5 horas por sesión, con 8 horas de sueño cada noche.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}