{% extends "plantillausergratis.html" %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/planes.css') }}">

<body>
    <!-- Contenido Principal -->
    <div class="container text-center my-4">
        <h2>Membresías Disponibles</h2>
        <div class="pricing-container">
            {% for membresia in membresias %}
                <article class="pricing-card {% if loop.index == 2 %}pricing-card--primary{% endif %}">
                    <div class="pricing-card__banner">
                        {% if loop.index == 2 %}Más Popular{% else %}{{ membresia['Nombre'] }}{% endif %}
                    </div>
                    <h3>{{ membresia['Nombre'] }}</h3>
                    <div class="pricing-card__price--original">
                        ${{ membresia['Precio'] }}
                    </div>
                    <div class="pricing-card__price">
                        Incluye
                    </div>
                    <ul>
                        <li>{{ membresia['Beneficios'] }}</li>
                    </ul>
                    <form action="{{ url_for('comprar_membresia', ID_membresia=membresia['ID_membresia']) }}" method="post">
                        <button type="submit" class="btn btn-primary">Comprar</button>
                    </form>
                </article>
            {% endfor %}
        </div>
    </div>
</body>

{% endblock %}
