{% extends "plantilla.html" %}
{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}


<script>

    const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.onmouseenter = Swal.stopTimer;
            toast.onmouseleave = Swal.resumeTimer;
        }
    });
    Toast.fire({
        icon: "success",
        title: "guardado correctamente"
    });
</script>
{% endfor %}
{% endif %}
{% endwith %}

<div class="container mt-5">
    <h2 class="text-center">Formulario de Registro</h2>
    <form action="/GuardarUsuario" method="post">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" name="txtnombre" placeholder="Introduce tu nombre" required>
        </div>
        <div class="form-group">
            <label for="apellido_paterno">Apellido Paterno</label>
            <input type="text" class="form-control" name="txtapellido_paterno"
                placeholder="Introduce tu apellido paterno" required>
        </div>
        <div class="form-group">
            <label for="apellido_materno">Apellido Materno</label>
            <input type="text" class="form-control" name="txtapellido_materno"
                placeholder="Introduce tu apellido materno" required>
        </div>
        <div class="form-group">
            <label for="numero_telefono">Número de Teléfono</label>
            <input type="text" class="form-control" name="txtnumero_telefono"
                placeholder="Introduce tu número de teléfono" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="txtemail" placeholder="Introduce tu email" required>
        </div>
        <div class="form-group">
            <label for="contrasena">Contraseña</label>
            <input type="password" class="form-control" name="txtcontrasena" placeholder="Introduce tu contraseña"
                required>
        </div>
        <div class="form-group">
            <label for="rol">Rol</label>
            <select class="form-control" id="rol" required name="txtrole">
                <option value="">Seleccione un rol</option>
                <option value="">user</option>
                <option value="">admin</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
    </form>
</div>

{% endblock %}