{% extends "plantillauser.html" %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/vistap.css') }}">
    <!-- Perfil -->
    <div class="container my-4" id="perfil">
        <img src="{{ url_for('static', filename='IMG/pablo.webp') }}" alt="Perfil" class="profile-image">
        <div class="profile-section">
            <h2 class="profile-title">Pablo Ortiz</h2>
            <div class="profile-content">
                <p><strong>Edad:</strong> 28</p>
                <p><strong>Peso:</strong> 97 kg</p>
                <p><strong>Tipo de cuerpo:</strong> Ectomorfo</p>
                <p><strong>Membrsia:</strong> Premium</p>
                <p><strong>Fecha Expiracion:</strong> 29-07-2025</p>
            </div>
        </div>
    </div>



{% endblock %}